# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2026 LuckkMaker

menu "CMSIS-DAP Configuration"

config OMNI_DAP
  bool "Enable CMSIS-DAP"
  default n
  help
    Enable CMSIS-DAP support.

endmenu